{:format :kotoba.cljk-origin/v1
 :renamed-on "2026-09-11"
 :decision "adr-2609111500-cljk-rename-all-clojure-source (com-junkawasaki/root 90-docs/adr; owner instruction 2026-09-11)"
 :rule "value = the extension the file had before the rename. A path ending in .clj.cljk or .cljs.cljk kept it in the name because both platform files existed (or the plain target was taken)."
 :origins
 {"gen-shadow-cljs-edn.cljk" ".cljs"
  "run-tests.cljk" ".cljs"
  "src/ipld/core.cljk" ".cljc"
  "src/ipld/dag_json.cljk" ".cljc"
  "src/ipld/dag_pb.cljk" ".cljc"
  "src/ipld/data_model.cljk" ".cljc"
  "src/ipld/fbl.cljk" ".cljc"
  "src/ipld/graph.cljk" ".cljc"
  "src/ipld/link.cljk" ".cljc"
  "src/ipld/patch.cljk" ".cljc"
  "src/ipld/schema.cljk" ".cljc"
  "src/ipld/schema_dsl.cljk" ".cljc"
  "src/ipld/selector.cljk" ".cljc"
  "src/ipld/value.cljk" ".cljc"
  "src/kotoba/value/codec.cljk" ".cljc"
  "test/ipld/adl_negatives_test.cljk" ".clj"
  "test/ipld/adl_version_test.cljk" ".cljc"
  "test/ipld/core_test.cljk" ".cljc"
  "test/ipld/cursor_integrity_test.cljk" ".clj"
  "test/ipld/dag_cbor_corpus_test.cljk" ".clj"
  "test/ipld/dag_json_test.cljk" ".cljc"
  "test/ipld/dag_pb_test.cljk" ".cljc"
  "test/ipld/data_model_test.cljk" ".cljc"
  "test/ipld/fbl_test.cljk" ".cljc"
  "test/ipld/graph_test.cljk" ".cljc"
  "test/ipld/lens_properties_test.cljk" ".clj"
  "test/ipld/link_test.cljk" ".cljc"
  "test/ipld/patch_test.cljk" ".cljc"
  "test/ipld/schema_dsl_coverage_test.cljk" ".clj"
  "test/ipld/schema_test.cljk" ".cljc"
  "test/ipld/selector_coverage_test.cljk" ".clj"
  "test/ipld/selector_test.cljk" ".cljc"
  "test/ipld/traversal_parity_test.cljk" ".clj"
  "test/ipld/trustless_path_test.cljk" ".clj"
  "test/ipld/value_test.cljk" ".cljc"
  "test/kotoba/value/codec_test.cljk" ".cljc"
  "test/kotoba/value/value_cid_test.cljk" ".cljc"}}
